<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<%# Message Block %>
<%- messages() %>

<div class="alignCenter">
    <div id="loginFormContainer">
        <form action="/account/register" method="post">
            <div><span>First Name*:</span><input type="text" name="account_firstname"></div>
            <div><span>Last Name*:</span><input type="text" name="account_lastname"></div>
            <div><span>Email*:</span><input type="text" name="account_email"></div>
            <div><span>Password*:</span><input type="password" name="account_password"></div>
            <div class="buttonContainer"><input type="submit" value="Register"></div>
        </form>
        <div class="fineprint">* Denotes a required field.</div>
        <div class="fineprint">^ Passwords must be a minimum of 12 characters in length and include at least 1 capital letter, 1 number, and 1 special character.</div>
    </div>
</div>