<div id="hpHeroContainer">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div id="hpHeroImageContainer">
        <div id="hpHeroImageCTA">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Dice!</li>
            </ul>
            <a id="hpHeroCTAButton" href="">Own Today</a>
        </div>
    </div>
</div>

<div id="hpMainColumns">
    <div>
        <h3>Delorean Upgrades</h3>
        <div id="upgradeGridContainer">
            <a href="">
                <div class="upgradeContainer">
                    <div><img alt="Flux capacitor" src="/images/upgrades/flux-cap.png"></div>
                    <div>Flux Capacitor</div>
                </div>
            </a>
            <a href="">
                <div class="upgradeContainer">
                    <div><img alt="Flame decal" src="/images/upgrades/flame.jpg"></div>
                    <div>Flames Decal</div>
                </div>
            </a>
            <a href="">
                <div class="upgradeContainer">
                    <div><img alt="Bumper stickers" src="/images/upgrades/bumper_sticker.jpg"></div>
                    <div>Bumper Stickers</div>
                </div>
            </a>
            <a href="">
                <div class="upgradeContainer">
                    <div><img alt="Hub caps" src="/images/upgrades/hub-cap.jpg"></div>
                    <div>Hub Caps</div>
                </div>
            </a>
        </div>
    </div>
    <div id="hpReviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>