<div id="hpHeroContainer">
    <h1>Welcome to CSE Motors!</h1>
    <div id="hpHeroImageContainer">
        <div id="hpHeroImageCTA">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy Dice!</li>
            </ul>
            <a id="hpHeroCTAButton" href="">Own Today</a>
        </div>
    </div>
</div>