/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --mainTrimColor: blue;
}

body {
  background-image:url("../images/site/checkerboard.jpg");
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
}

#wrapper {
  max-width:1000px;
  margin:20px auto;
  border:solid 4px var(--mainTrimColor);
  background-color:white;
  border-radius:10px;
  padding:20px;
}

#top-header .siteName a {
  font-size:2em;
  text-decoration:none;
  color:#000;
}

#top-header .siteName, #tools {
  display:inline-block;
  width:49%;
}

#tools {
  text-align:right;
}

#tools a {
  text-decoration:none;
  color:#000;
  text-align:right;
}

nav {
  background-color:#000;
}

nav ul {
  list-style-type: none;
  background-color:#000;
  border-radius:5px;
  box-sizing:border-box;
}

nav ul li {
  display:inline-block;
  padding:10px 0px;
  width:19%;
  box-sizing: border-box;
  text-align:center;
}

nav ul li a {
  display:block;
  color:#fff;
  text-decoration:none;

}

#hpHeroImageContainer {
  width:100%;
  background-image: url('../images/vehicles/delorean.jpg');
  background-repeat:no-repeat;
  height:300px;
  background-size:contain;
  background-position: center center;
}

#hpHeroImageCTA {
  background: rgba(255,255,255,.85);
  width:34%;
  border-radius:10px;
  border:solid 1px #fff;
  padding:30px;
  color:#000;
  font-weight:bold;
  margin-left:5%;
}

#hpHeroCTAButton {
  text-decoration:none;
  color:#fff;
  background-color: var(--mainTrimColor);
  padding:10px 0px;
  width:80%;
  margin:0px auto;
  text-align:center;
  display:inline-block;
}

footer {
  font-size:.7em;
}

footer p {
  margin-top:40px;
  margin-bottom:0px;
}